header {
    font-size: 1.6rem;
    text-align: center;
    padding: 10px 20px;
    color: #424242;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    background: #fff;
    z-index: 10;
}
